In [1]:
7*4

28

In [2]:
2**10

1024

In [3]:
9**(1/2)

3.0

In [4]:
7/4

1.75

In [5]:
8/4

2.0

In [6]:
9//2

4

In [7]:
3//5

0

In [8]:
-13//4

-4

In [9]:
4/0

ZeroDivisionError: division by zero

In [10]:
7.5%3.5

0.5

In [11]:
7.5//3.5

2.0

In [12]:
print('Welcome', 'to', 'python')

Welcome to python

In [13]:
print("Welcome to python")

Welcome to python

In [15]:
print("Welcome \n to \n \n python")

Welcome
 to

 python

In [16]:
print("Welcome \t to \t python")

Welcome 	 to 	 python

In [17]:
print("Welcome \\ to \\ python")

Welcome \ to \ python

In [18]:
print("Welcome \' to \' python")

Welcome ' to ' python

In [22]:
print("Welcome \" to \" python")

Welcome " to " python

In [23]:
print('Sum is', 7+3)

Sum is 10

In [24]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [25]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [27]:
print('Display',"hi", 'in quotes')

Display hi in quotes

In [28]:
print('Display 'hi' in quotes')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (102489360.py, line 1)

In [31]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [32]:
print("Display \"\"\"\"hi\" and \'bye\' in quotes")

Display """"hi" and 'bye' in quotes

In [34]:
triple_quoted_string = """This is a triple quoted string \
that spans two lines"""

print(triple_quoted_string)

This is a triple quoted string that spans two lines

# User Prompt

In [1]:
name = input("What's your name?")

What's your name? Paul

In [2]:
print(name)

Paul