In [1]:
7*4

28

In [2]:
2**10

1024

In [3]:
9**(1/2)

3.0

In [4]:
7/4

1.75

In [5]:
8/4

2.0

In [6]:
9//2

4

In [7]:
3//5

0

In [8]:
-13//4

-4

In [9]:
4/0

ZeroDivisionError: division by zero

In [10]:
7.5%3.5

0.5

In [11]:
7.5//3.5

2.0

In [12]:
print('Welcome', 'to', 'python')

Welcome to python

In [13]:
print("Welcome to python")

Welcome to python

In [15]:
print("Welcome \n to \n \n python")

Welcome
 to

 python

In [16]:
print("Welcome \t to \t python")

Welcome 	 to 	 python

In [17]:
print("Welcome \\ to \\ python")

Welcome \ to \ python

In [18]:
print("Welcome \' to \' python")

Welcome ' to ' python

In [22]:
print("Welcome \" to \" python")

Welcome " to " python

In [23]:
print('Sum is', 7+3)

Sum is 10

In [24]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [25]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [27]:
print('Display',"hi", 'in quotes')

Display hi in quotes

In [28]:
print('Display 'hi' in quotes')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (102489360.py, line 1)

In [31]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [32]:
print("Display \"\"\"\"hi\" and \'bye\' in quotes")

Display """"hi" and 'bye' in quotes

In [34]:
triple_quoted_string = """This is a triple quoted string \
that spans two lines"""

print(triple_quoted_string)

This is a triple quoted string that spans two lines

# User Prompt

In [3]:
name = input("What's your name?")

Paul

In [4]:
print(name)

Paul

In [8]:
value1 = input("Enter first number")
print(type(value1))
value2 = input("Enter the second number")
value1+value2

<class 'str'>

'1012'

In [4]:
value1 = "sometext"
value2 = "anothertext"
value1+value2

'sometextanothertext'

In [10]:
value1 = int(input("Enter an integer"))
type(value1)
value2 = int(input("Enter the second integer"))
type(value2)
value1+value2

10

In [11]:
bad_value = int(input("Enter an integer"))

ValueError: invalid literal for int() with base 10: 'hello'

In [12]:
bad_value

NameError: name 'bad_value' is not defined

In [18]:
int(10.7)

10

### Comparison Operators

In [27]:
n1 = int(input("Enter first integer"))
n2 = int(input("Enter second integer"))

In [28]:
n1>n2

True

In [29]:
# n1=n2

In [30]:
n1 == n2

False

In [31]:
n1>=n2

True

In [32]:
n1<=n2

False

In [33]:
n1 !=n2

True

In [35]:
n1 =n2
n1 == n2

True

### Conditional if Statement

In [44]:
n1 = .6
n2 = 4

if n1 == n2:
    print(n1, "is equal to", n2)

elif n1>n2:
    print(n1,"is greater than", n2)

elif n1<n2:
    print(n1,"is less than", n2)

else:
    print("whaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaat!")

0.6 is less than 4

In [45]:
def check_doc():
    "This is an example showing the doc string implementation"
    return None

check_doc.__doc__

'This is an example showing the doc string implementation'

In [48]:
grade = 90
result = ("Passed" if grade >=60 else "Failed")
result

'Passed'

In [55]:
grade = 49
if grade>60:
    print("Passed")
else:
    print("Failed")
    print("You must take this course again")

Failed
You must take this course again

In [62]:
grade = 77
if grade >=90:
    print("A")
elif grade >=80:
    print("B")
elif grade >=70:
    print("C")
elif grade >=60:
    print("D")
else:
    print("F")

C

In [65]:
# First power of 3 that is larger than 50 

number = 50
product = 1
count = 0

while product <=number:
    product = product*3
    count +=1
print(count)
print(product)

4
81

In [74]:
for num in range(5):
    print(num, end = ' ')

0 1 2 3 4

In [75]:
# ClassAverage.py
# class_average.py
"""Class average program with sequence-controlled iteration."""

# initialization phase
total = 0  # sum of grades
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]  # list of 10 grades

# processing phase
for grade in grades:  
    total += grade  # add current grade to the running total
    grade_counter += 1  # indicate that one more grade was processed

# termination phase
average = total / grade_counter
print(f'Class average is {average}')

Class average is 81.7

In [1]:
# class_average_sentinel.py
"""Class average program with sentinel-controlled iteration."""

# initialization phase
total = 0  # sum of grades
grade_counter = 0  # number of grades entered

# processing phase
grade = int(input('Enter grade, -1 to end: '))  # get one grade

while grade != -1:
    total += grade
    grade_counter += 1
    grade = int(input('Enter grade, -1 to end: '))

# termination phase
if grade_counter != 0:
    average = total / grade_counter
    print(f'Class average is {average:.2f}')
else:
    print('No grades were entered')

No grades were entered